$default-bg = white
$default-text = black
$code-bg = #e0ffff
$code-text = #8fbc8f

body
  font-family Ubuntu, Georgia, serif
  font-size 16px
  background $default-bg
  color $default-text

h1
  font-size 2em
  margin 0.5em 0 1em

  & > small
    color gray
    font-size 70%

code
  background $code-bg
  color $code-text
  text-shadow 0 1px gray
